<div>
    <button class="add-button" (click)="openModal()">Agregar Cliente</button>
</div>

<div *ngIf="clients.length > 0; else noClients">
    <table class="client-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <!-- Agregar más columnas según la estructura de datos de clientes -->
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clients">
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellidos }}</td>
                <!-- Agregar más celdas según la estructura de datos de clientes -->
                <td class="action-buttons">
                    <button (click)="openModal(cliente)">Editar</button>
                    <button class="delete" (click)="deleteClient(cliente.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noClients>
    <p>Nada para mostrar</p>
</ng-template>

<!-- Modal para editar o agregar cliente -->
<div *ngIf="showModal" class="modal-overlay">
    <div class="modal">
        <!-- Contenido del modal para editar cliente -->
        <h2 *ngIf="selectedClient">Editar Cliente</h2>
        <h2 *ngIf="!selectedClient">Agregar Cliente</h2>
        <form [formGroup]="clientForm" (ngSubmit)="saveClient(); $event.preventDefault();">
            <input type="text" formControlName="nombre" placeholder="Nombre" />
            <input type="text" formControlName="password" placeholder="Password" />
            <input type="text" formControlName="apellidos" placeholder="Apellidos" />
            <input type="text" formControlName="direccion" placeholder="Direccion" />
            <!-- Campos de edición para el cliente -->
            <button type="submit">Guardar</button>
            <button class="cancel" type="button" (click)="closeModal()">Cancelar</button>
        </form>
    </div>
</div>